
ul{
    list-style-type: none;
    color: rgb(255, 255, 255);
    background-color: black;
    width: 50%;
}
li::before{
content: "◊";
color: rgb(255, 255, 255);

}
h1{
    color: rgb(255, 255, 255);
}
